# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
.venv*/
env*/

# Env files
.env
*.env

# Alembic cache
alembic/versions/__pycache__/

# Logs
*.log

# VSCode
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Testing / coverage
.coverage
.pytest_cache/
htmlcov/

# SQLite DB (if you use SQLite locally)
*.db
